{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hello/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1> This is from the main page</h1>
    <p>Hej den här texten borde vara röd</p>
    <ul class="navbar">
        <li><a href="/hello/home">Home</a></li>
        <li><a href="/hello/task">Add Tasks</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/hello/about">About</a></li>
      </ul>
    
    {% block content %}
    
    {% endblock %}
</body>
</html>